header {
  font-family: "Oswald", sans-serif;
}

header span {
  font-size: 12px;
}

header .jumbotron {
  background-image: url("/img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 50vh;
}

main {
  font-family: "Oswald", sans-serif;
}

main img {
  overflow: hidden;
}

main p {
  font-size: 14px;
}

