header {
  font-family: $font-comics;
  span {
    font-size: 12px;
  }
  .jumbotron {
    background-image: url("/img/jumbotron.jpg");
    background-position: top;
    background-size: cover;
    height: 50vh;
  }
}
